.button {
  cursor: pointer;
  /* background-color: #002366; */
  background-image: linear-gradient(
    to right,
    #002366 0%,
    #5006b0 51%,
    #002366 100%
  );

  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  /* box-shadow: 0 0 20px #eee; */
  transition: 0.5s;
  background-size: 200% auto;
  /* box-shadow: 0 0 20px #eee; */
  background-size: 200% auto;
}
